body{
    margin: 0;
    padding: 0;
    justify-content: center;
    display: grid; 
    background: linear-gradient(126deg, rgba(156,236,251,1) 0%, rgba(32,32,230,1) 100%, rgba(76,162,192,1) 100%);
}
.form {
    text-align: center;
    margin-top: 10px;
    background-color: #15172b;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
}
.titolo {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 20px;
    background: linear-gradient(90deg,#ff0000,#ff00f3,#0033ff,#ff00c4,#ff0000);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 10s ease-in-out infinite;
    font-weight: 600;
}
@keyframes animated_text {
    0% { background-position: 0px 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0px 50%; }
}

.input-container {
    height: 50px;
    position: relative;
    margin-bottom: 30px;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 18px;
    height: 100%;
    padding: 4px 20px 0;
    width: 100%;
}

.sopra {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 30px;
}
.input:focus ~ .sopra,
.input:not(:placeholder-shown) ~ .sopra {
    transform: translateY(8px);
}

.placeholder {
    color: #3c3c69;
    font-family: sans-serif;
    left: 20px;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}

.input:focus ~ .placeholder {
    color: #dc2f55;
}
.button{
    width: 100%;
    position: relative;
    background-color: #08d;
    border-radius: 4em;
    font-size: 16px;
    border: 0;
    color: rgb(255, 255, 255);
    padding: 0.8em 1.8em;
    cursor:pointer;
    text-align: center;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; 
}
.button:hover {
    transition-duration: 0.1s;
    background-color: rgba(0, 136, 221, 0.63);
}
.button:active {
    top: 3px;
}

